
<!--
<div class="container">

<div class="row" >
  <div class="col-sm-4" style="overflow-y:auto; max-height:100vh" >
   &lt;!&ndash; <table class="table table-hover">
    <tr *ngFor="let i of list" >
      <td style="padding: 50px" (click)="onSelect(i)"><b>{{i}}</b></td>
    </tr>
  </table>&ndash;&gt;
    <div class="card blue-grey darken-1" *ngFor="let i of list" (click)="onSelect(i)" >
      <div class="card-content white-text"  >
        <span class="card-title">{{i}}</span>
        <p>Doctor of bones</p>
      </div>
    </div>
  </div>
  <div class="col-sm-8"><detail-component [s]="selected"></detail-component></div>
</div>
</div>
-->
<header>

<ul id="nav-mobile" class="side-nav fixed">
  <li class="logo"><img src="../../assets/logo2.png"></li>

  <li class="search">
    <div class="search-wrapper card">
      <input id="search"><i class="material-icons">search</i>
      <div class="search-results"></div>
    </div>
  </li>
  <li class="bold"><a class="waves-effect waves-teal">About</a></li>
  <li class="bold"><a class="waves-effect waves-teal">Getting Started</a></li>
  <li class="bold" *ngFor="let i of list" (click)="onSelect(i)"><a class="waves-effect waves-teal">{{i}}</a></li>
</ul>
</header>

<div class="container-fluid" style="margin-left: 21%">
<div class="row" >
  <nav class="top-nav" style="padding-top: 8%;padding-left: 40%; padding-bottom: 12%;">
    <div class="nav-wrapper"><h4>{{selected}}</h4> </div>
  </nav>
  <div class="col s12 m9 l10">

    <!--  <!--Parallax Section  &ndash;&gt;
    <div id="introduction jumbotron" class="scrollspy section">
      <h4 style="font-family: Forte; padding-left: 2%;">Dr. Gwalior</h4>
      <h5 style="font-family: Forte;">Best of Care, Close to you</h5>
    </div>-->
  </div>
</div>

<main style="">
  <div class="container"><detail-component [s]="selected"></detail-component></div>
</main>
</div>
